/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2016, 2:05:02 AM
    Author     : nishantjain1407
*/
body{
    font-family: 'Source Sans Pro', sans-serif;        
    color:#555;    
}
a{
    text-decoration:none !important;
}
/*-----------Home Page Stuff: START-------------*/
.homepage-hero{
    background:url('../../assets/images/home-hero.jpg');
    background-size:cover;
    height:400px;
    width:100%;
}
.homepage-hero .overlay{
    background:rgba(0,0,0,0.70);
    height:100%;
    width:100%;        
}
.homepage-hero .overlay{
    display:table;
}
.overlay .hero-content{
    display:table-cell;
    vertical-align:middle;        
}
.homepage-hero .hero-content h1{
    color:white;    
    font-weight: 600;
    font-size:45px;
    letter-spacing: 4px;
}
.homepage-hero .hero-content h2{
    font-size: 30px;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
}
.hero-slider{
    padding:15px;
    background:#111111;    
}
.hero-slider .hero-title{
    color:white;
    font-weight:300;
    font-size:16px;
}
.homepage-section{
    padding:5px 15px;
}
.homepage-section h1{
    font-family: 'Patua One', cursive;        
    letter-spacing: 1px;
    color:#333;
    margin-top: 50px;
    font-size: 27px;
    margin-bottom: 30px;      
}
.homepage-section .content-wrapper .offering-card{
    display: inline-block;
    text-align: left;
    padding: 15px;
    max-width: 500px;
    margin: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 12px 23px -13px;
}
.homepage-section .content-wrapper .offering-card .icon img{
    width:50px;
}
.homepage-section .content-wrapper .offering-card h2.title{
    color: #555;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}
.homepage-section .content-wrapper .offering-card p.desc{
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}
.homepage-section .content-wrapper{
    padding-bottom:50px;
}
.whoweare-section{
    background:#F5F5F5;    
}
.whoweare-section h2{
    line-height:30px;
    font-size:20px;
    margin:0;
}
.whoweare-section .timeline-wrapper{
    padding:60px 0px;
}
.timeline-wrapper .timeline{
    width:100%;
    height:4px;
    background:#ddd;
}
.timeline .bar{
    height:100%;
    float:left;
    width: calc(25% - 25px);
    background:transparent;
}
.timeline .dot{
    float: left;
    width: 20px;
    position:relative;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -8px;
}
.timeline .dot:after {
    content: "1959";
    position: absolute;
    top: 44px;
    left: 0px;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    transform: translateX(-26%);
}
.timeline .dot.active:after {
    opacity: 1;
}
.dot.dot2:after{
    content:"1980";
}
.dot.dot3:after{
    content:"1995";
}
.dot.dot4:after{
    content:"2000";
}
.dot.dot5:after{
    content:"2005";
}   
.timeline .bar.active,.timeline .dot.active{
    background:#555;
}
.collab-section .collab-logo{
    display:inline-block;
    padding: 15px 30px;
}





/*-----------Home Page Stuff: END-------------*/

