/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2016, 2:05:02 AM
    Author     : nishantjain1407
*/
body{
    font-family: 'Source Sans Pro', sans-serif;        
    color:#555;    
}
::-webkit-scrollbar {
    width: 10px;        
}

::-webkit-scrollbar-track {
    background: #eee;     
    box-shadow:inset 0px 0px 7px -5px black;
}

::-webkit-scrollbar-thumb {        
    background:#777;        
}
::-webkit-scrollbar-thumb:hover{
    background:#333;
}
a{
    text-decoration:none !important;
}
/*-----------Home Page Stuff: START-------------*/
.homepage-hero{
    background:url('../../assets/images/home-hero.jpg') fixed;
    background-size:cover;
    height:500px;
    height: calc(100vh - 50px);
    width: 100%;
    min-height: 400px;
}
.red-dash{
    margin-top: 30px;
    border-bottom: 5px solid #FE000F;
    width: 35px;
}
.offwhiteBg{
    background:#f5f5f5;
}
.homepage-hero .overlay{
    background:rgba(0,0,0,0.70);
    height:100%;
    width:100%;        
}
.homepage-hero .overlay{
    display:table;
}
.overlay .hero-content{
    display:table-cell;
    vertical-align:middle;        
}
.homepage-hero .hero-content h1{
    color:white;        
    font-weight: 600;
    font-size:45px;
    letter-spacing: 4px;
}
.homepage-hero .hero-content h2{
    font-size: 30px;    
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
}
.hero-slider{    
    padding:15px;
    background:black;    
}
.hero-slider .hero-slider-arrow{
    color:rgba(255,255,255,0.7);
    cursor:pointer;
    padding:10px;
    transition:all 0.2s;
}
.hero-slider .hero-slider-arrow:hover{
    color:white;
}
.hero-slider .hero-title{
    color:white;
    font-weight:300;
    font-size:16px;
}
.homepage-section{
    padding:100px 15px;
    border-bottom: 1px solid #eee;
}
.homepage-section h1{
    font-family: 'Patua One', cursive;        
    letter-spacing: 1px;
    color:#444;
    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 60px;      
}
.homepage-section .content-wrapper .offering-card{
    display: inline-block;
    text-align: left;
    padding: 15px;
    max-width: 500px;
    margin: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 12px 23px -13px;
}
.homepage-section .content-wrapper img{
    max-width:200px;
}
.homepage-section .content-wrapper p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #555;
    margin-top:20px;
    line-height: 40px;
}
.textileMachinery-card{
    text-align: center;    
    padding: 10px;
    margin-top: 35px;
    font-size:20px;
    margin-bottom: 35px;
    text-transform:uppercase;
    letter-spacing:1px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 0px 5px 22px -10px black;
    -ms-box-shadow: 0px 5px 22px -10px black;
    -webkit-box-shadow: 0px 5px 22px -10px black;
    -moz-box-shadow: 0px 5px 22px -10px black;
}

.homepage-section .content-wrapper{
    padding-bottom:50px;
}
.textileMachinery .content-wrapper{
    padding-bottom:0;
}


.homepage-section.zimmerScreens{
    background:#f5f5f5;
}
.whoweare-section{
    background:#F5F5F5;    
}
.whoweare-section h2{
    line-height:30px;
    font-size:20px;
    margin:0;
}
.whoweare-section .timeline-wrapper{
    padding:60px 0px;
}
.timeline-wrapper .timeline{
    width:100%;
    height:4px;
    background:#ddd;
}
.timeline .bar{
    height:100%;
    float:left;
    width: calc(25% - 25px);
    background:transparent;
}
.timeline .dot{
    float: left;
    width: 20px;
    position:relative;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -8px;
}
.timeline .dot:after {
    content: "1959";
    position: absolute;
    top: 44px;
    left: 0px;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    transform: translateX(-26%);
}
.timeline .dot.active:after {
    opacity: 1;
}
.dot.dot2:after{
    content:"1980";
}
.dot.dot3:after{
    content:"1995";
}
.dot.dot4:after{
    content:"2000";
}
.dot.dot5:after{
    content:"2005";
}   
.timeline .bar.active,.timeline .dot.active{
    background:#555;
}
.collab-section .collab-logo{
    display:inline-block;
    padding: 15px 30px;
}





/*-----------Home Page Stuff: END-------------*/

