/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2016, 1:30:52 AM
    Author     : nishantjain1407
*/

.header{        
    /*        position:fixed;
            top:0px;
            left:0px;                                */
    width:100%;        
    text-align:center;
    color:white;            
}

.header .lane1{
    background:#fafafa;
    padding:5px 15px;      
}
.lane1 .header-nav li a {
    line-height: inherit;
    font-size: 13px;
    color: rgba(0,0,0,0.5);
}
.header .logo{
    padding:10px;
    background:white;
    position:absolute;
    top:0;
}
.header .logo img{
    width:150px;
    transition:all 2s;
}
.header .lane2{
    transition:all 0.4s;    
    padding: 5px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow:0px 1px 11px -5px black;
    -ms-box-shadow:0px 1px 11px -5px black;
    -webkit-box-shadow:0px 1px 11px -5px black;
    -moz-box-shadow:0px 1px 11px -5px black;
}
ul.header-nav{
    margin-bottom:0px;
}
.header-nav li{
    display:inline-block;
    padding:0px 10px;
}
.header-nav li a{
    color:white;
    font-weight:400;
    font-size:15px;
    line-height:50px;
}
.headroom--not-top .logo{
    position:relative;
    background:transparent;
    padding:0;
    
}
.headroom--not-top .logo img{
    width:auto;
    height:50px;
    transition:all 2s;
}

.headroom--not-top .header-nav li a{
    color:#555;
}
.headroom--not-top .lane2{
    background:white;
    transition:all 0.4s;
}

.footer{
    display:none;
}