/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2016, 1:30:52 AM
    Author     : nishantjain1407
*/

.header{        
    /*        position:fixed;
            top:0px;
            left:0px;                                */
    width:100%;        
    text-align:center;
    color:white;        
}

.header .lane1{
    background:#fafafa;
    padding:5px 15px;      
}
.lane1 .header-nav li a {
    line-height: inherit;
    font-size: 11px;
    color: rgba(0,0,0,0.5);
}
.header .lane2{
    background:white;  
    padding:5px 15px;
}
ul.header-nav{
    margin-bottom:0px;
}
.header-nav li{
    display:inline-block;
    padding:0px 10px;
}
.header-nav li a{
    color:#555;
    font-weight:600;
    font-size:13px;
    line-height:50px;
}
