/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2016, 1:30:52 AM
    Author     : nishantjain1407
*/

.header{        
    /*        position:fixed;
            top:0px;
            left:0px;                                */
    width:100%;        
    text-align:center;
    color:white;            
}

.header .lane1{
    background:#fafafa;
    padding:5px 15px;      
}
.lane1 .header-nav li a {
    line-height: inherit;
    font-size: 13px;
    color: rgba(0,0,0,0.5);
}
.header .logo{
    position:relative;
    background:transparent;
    padding:0;
}
.header .logo svg{
    width:100px;
    height:50px;
    transition:all 2s;
}


.header .lane2{
    transition:all 0.4s;    
    padding: 5px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.headroom--not-top .lane2{
    box-shadow:0px 1px 11px -5px black;
    -ms-box-shadow:0px 1px 11px -5px black;
    -webkit-box-shadow:0px 1px 11px -5px black;
    -moz-box-shadow:0px 1px 11px -5px black;
}
.nav-mob-btn{
    display:none;
    cursor:pointer;
    color:white;
    padding: 15px;
}
.headroom--not-top .nav-mob-btn{
    color: #333;
}
ul.header-nav{
    margin-bottom:0px;
}
.header-nav li{
    display:inline-block;
    padding:0px 10px;
}
.header-nav li a{
    color:white;
    font-weight:400;
    font-size:15px;
    line-height:50px;
}
.header .logo svg path,.header .logo svg polygon{
    fill:white;
}

.headroom--not-top .logo svg path,.headroom--not-top .logo svg polygon{
    fill:#333;
}


.headroom--not-top .header-nav li a{
    color:#555;
}
.headroom--not-top .lane2{
    background:white;
    transition:all 0.4s;
}

/*mobile sidebar*/
.mobile-sidebar{    
    position: fixed;    
    left: 100vw;
    width: 100%;
    opacity:0;
    background: #222;
    height: 100vh;
    overflow-y: auto;    
    z-index: 999;
    padding-top: 75px; 
    transition: all 0.2s linear;
}
.mobile-sidebar.active{
    left:0;
    opacity:1;
}
.mobile-sidebar ul{
    padding:0;
    text-align:left;
}
.mobile-sidebar ul li{
    list-style:none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.mobile-sidebar ul li:last-child{
    border:0;
}
.mobile-sidebar ul li a{
    display: block;
    padding: 15px 20px;
    color: rgba(255,255,255,0.8);    
    font-size: 17px;
    font-weight: 400;
}



/*footer*/

.footer{                
    padding:15px 0px;        
    padding-bottom:0px;
    background:#F5F5F5;
    width:100%;      
    text-align:center;
}
.footer ul li{
    list-style: none;
}
.footer ul{
    padding:0;
}
.footer .column{
    vertical-align:top;
    margin:0px 15px;
    min-width:20%;
    text-align:left;
    display:inline-block;
}
.footer .column-inner{
    margin-left:0;
    min-width:0;
}
.footer h3{
    font-weight: 600;
    font-size: 18px;
    color: #333;
}
.footer h4{
    font-weight: 600;
    font-size: 16px;
    color: #333;
    margin-bottom:5px;
    font-style:italic;
}
.footer ul li a{
    padding: 2px 0px;
    color: #777;
    font-size: 15px;
    display: inline-block;
    margin: 2px 0px;
}    
.headLinks h3{
    margin:0;        
}
.headLinks a{
    display:block;   
    padding:10px 0px;
}
.headLinks{
    margin-top:10px !important;
}
.footer .address{
    padding:15px 0px;
}
.footer .address p{
    font-size: 15px;
    font-weight: 400;
    color: #777;
    margin: 5px 0px;               
}
.footer .subFooter{
    padding-top:90px;
    padding-bottom:15px;
}
.subFooter h1{
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 25px;
}       
.footer .copyright{
    background: #222;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0px;
    font-size: 15px;
    padding: 15px;
}
.footer .copyright span{
    padding:0px 5px;
}
.subFooter svg{
    max-width: 300px;
    height: 125px;
}